services:
  db:
    image: postgres:16
    container_name: skillhub-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./tmp/db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "3000:3000"
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b 0.0.0.0 -p 3000"

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend

volumes:
  db_data:
